.add-item-form {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
    .title-input {
        
    }
    .goto-input {

    }
    .expire-input {

    }
    .submit-button {

    }
}