$base-text: #cddbcd; 
$highlight: #2fad10;
$card: #000;


.history {
    width: fit-content;
    color: $base-text;
    margin-right: 20px;
    border: 1px solid $base-text;
    height: fit-content;
    padding: 10px 10px;
    background-color: $card;
    .history-title {
        text-align: center;
        margin-bottom: 20px;
    }
    .history-array  {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        .line-separator {
            width: 100%;
        }
        .history-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            text-align: center;
            background: $card;
            width: 100%;
            // border: 1px solid $highlight;
            // border-radius: 6px;
            .title {
                margin: 0px;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
                text-align: center;
            }
            .value-section {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                .value {
                    margin: 0px;
                    color: $highlight;
                }
            }
            .paid-section {
                margin: 0px;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 4;
                .date {
                    font-weight: bold;
                }
            }
            .exp-section {
                margin: 0px;
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
                .date {
                    font-weight: bold;
                }
            }
            
        }
    }
}