$base-text: #cddbcd; 

.history {
    margin: auto;
    width: 100%;
    color: $base-text;
    .history-title {
        text-align: center;
    }
    .history-array  {
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        .history-item {
            display: flex;
            flex-direction: row;
        }
    }
}