$base-text: #cddbcd; 
$highlight: #2fad10;
$card: #000;


.history {
    width: 40%;
    margin: auto;
    color: $base-text;
    height: fit-content;
    padding: 10px 10px;
    background-color: transparent;
    .history-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .history-title {
            text-align: left;
            margin-bottom: 20px;
            font-size: 1.2em;
        }
        .month-dropdown-select {
            background-color: transparent;
            color: white;
            border-radius: 6px;
            min-width: 105px;
            .month-option {
                color: #000;
                background: inherit;
            }
        }   
    }
    .total-section {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        .total-value{
            color: $highlight;
            margin-left: 10px;
        }
    }
    .header-hr {
        height: 1px;
        background-color: #cddbcd8f;
        padding: 0px;
        border: none;
    }
    .history-array  {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        .line-separator {
            width: 100%;
        }
        .history-item {
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            // border: 1px solid $highlight;
            // border-radius: 6px;
            .title-section {
                margin-right: 10px;
                width: 30%;
                .title {
                    margin: 0px;
                    text-align: left;
                }
                .value-section {
                   
                    text-align: left;
                    .value {
                        margin: 0px;
                        color: $highlight;
                    }
                }
            }
            .paid-section {
                margin-right: 10px;
                text-align: left;
                width: 30%;
                .date {
                    font-weight: bold;
                }
            }
            .exp-section {
                text-align: left;
                margin-left: 13px;
                width: 30%;
                .date {
                    font-weight: bold;
                }
            }
            
        }
    }
}