$light-blue: #0865df;
$active: #03942e;
$base-text: #cddbcd;
$darkbg: #0e0d0d;
$card: #01023f;
$gray: #727777;
$cancel: #f00b0b;

.add-item-form {
    color: $base-text;
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-title {
        text-align: center;
        margin-bottom: 10px;
    }
    .label {
        .detail {
            opacity: 0.3;
            font-size: 0.8em;
        }
        margin-bottom: 14px;
    }
    .label-case {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 20px;
        text-align: start;
        width: 70%;
        white-space: nowrap;
        .label {
            margin-right: 10px;
        }
        .old-value {
            font-weight: bold;
            margin: 0px;
        }
    }
    .input-text {
        height: 40px;
        border: 1px solid transparent;
        margin-bottom: 10px;
        width: 60%;
        padding: 0px 20px;
        border-radius: 6px;
        color: $base-text;
        background: $card;
        &:focus {
            outline: none;
            border: 1px solid #0865df;
        }
    }
    .submit-button {
        margin-top: 20px;
        width: 50%;
        height: 40px;
        border-radius: 6px;
        background: $active;
        color: $base-text;
        border: none;
        font-weight: bold;
        cursor: pointer;
        &:disabled {
            opacity: 0.5;
            background-color: $gray;
            cursor: default;
        }
    }
    .cancel-button {
        margin-top: 20px;
        width: 50%;
        height: 40px;
        border-radius: 6px;
        background: $cancel;
        color: $base-text;
        border: none;
        font-weight: bold;
        cursor: pointer;
    }
    .title-input {
    }
    .goto-input {
    }
    .expire-input {
        width: fit-content;
        text-align: center;
    }
}
