$base: #e0d9d9;


.header-nav-bar {
    width: 100%;
    color: $base;
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        .nav-bar-item {
            font-size: 1.7em;
            margin: 10px 10px;
            cursor: pointer;
        }
    }
}