$base: #e0d9d9;



.hide {
    display: none;
}
.header-nav-bar {
    width: 100%;
    color: $base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        .nav-bar-item {
            font-size: 1.7em;
            margin: 10px 10px;
            cursor: pointer;
        }
    }
}